section.content
  p
    | My name is Eric Wright and I make websites. Check out my 
    a href="/portfolio" portfolio
    |  while you're here, I'm always eager to show off my work.

  h3 simple and clean

  p
    | I like to create minimalist interfaces while retaining powerful usability. I enjoy CSS3 driven design and work toward minimizing unnecessary Javascript.

  h3 agile development

  p
    | Software engineering is a creative process and requirements evolve with the project.
    | The best way to plan your next step is to move forward and adapt.

  h3 I do other stuff too

  p
    | I enjoy 
    a href="http://news.ycombinator.com" target="_blank" Hacker News
    |  and 
    a href="http://reddit.com" target="_blank" Reddit
    |  a little too much. I play Minecraft with the 
    a href="http://nirri.us" title="http://nirri.us" Nirrius Gaming Community
    |  and I think we have the best server yet. I'm a big fan of Daft Punk, The Avalanches, ELO and anything with a progressive rock feel.

aside.infotainment
  h5 design
  ul
    li HTML5/CSS3
    li Javascript/jQuery
    li Compass
    li jQueryMobile
    li Sass
    li Mobile Optimization
    li Templating
    li mock up conversion
  h5 development
  ul
    li Ruby
    li EC2/S3 deployment via Chef
    li Git
    li Ubuntu
  h5.glow.important
    a href="s" title="Eric Wright's Resume" my résumé