doctype html
html(lang="en")
  head
    title Eric Wright : Designer + Developer
    
    = stylesheet_link_tag "application"
    link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    = render :partial => "shared/header"
    aside.site-menu
      = render :partial => "shared/menu"
    = yield
    = render :partial => "shared/footer"
